@charset "utf-8";

/* @Daniel @Felipe @Matheus */


/* MANTER CSS ORGANIZADO */
/* Aviso:Manter espaçamento entre linhas do CSS */


/*CONFIGURAÇÕES DO ASIDE*/



.textos{
	background-color: #D49B2A;
	width: 42%;
	float: left;
	margin-right:5%;
	margin-left:2.5%;
	padding-top:25px;
	padding-bottom:25px;
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	
} 

.textos:hover{
	border: 2px solid #ee107f;
	
}


.maior{
	width:100%;
	margin:auto;
	text-align: center;
	
	
}

.maior img{
	width:40%;
	margin:auto;
	margin-top: 10px;
	border-radius: 5px;
}

h4{
	font-size: 1.3em;
	padding-top:25px;
	padding-bottom:25px;
	color: white;
	background-color: rgba(238, 16, 127, 0.892);
	
	
	
	
}
/* MEDIA QUERYS */
	




@media screen and (max-width:750px) {
	
	form{

		margin-left: 10%;
		
		width: 80%;
		
		margin-right: 10%; 
	}

	form p {
		
		font-size:1.2em;
		
		margin-left:2%; 

	}
	form input{

		width: 80%;
	}
	
	
	
}

	
	


@media screen and (max-width: 500px) {
	

	form{

		margin-left: 10%;
		width: 80%;
		margin-right: 10%; 
	}

	

}