/* @Daniel @Felipe @Matheus */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
/* MANTER CSS ORGANIZADO */
/* Aviso:Manter espaçamento entre linhas do CSS */


/*CONFIGURAÇÕES DO ASIDE*/

#fundo{
	background-repeat: no-repeat;
	text-align: center;
	margin:10px 14%; 
	background-size:cover;
}

.fundo-compra img{
	width: 100%;
	float: right;
	height: 500px; 
}



p{
	
	font-size: 1em;
	margin-left: 10%;
	padding:2px;
	margin-right:10%;
	font-weight: bold;
	
}

h4{
	font-size: 1.2em;
	margin-left:35%;
	margin-left: 10%;
	padding:2px;
	margin-right:10%;
}


#info{
	width: 100%;
	max-width: 990px;
	margin: 15px auto;
	background-image: url('../imagens/mulher-comprando.jpg');
	background-position-x: 100%;
	min-height:450px ;
	background-size: cover;
	display:grid;

}
#info > section{
	/* margin: auto; */
	height: 100%;
	padding: 35px;
	box-sizing: border-box;
	background-color: rgba(238, 16, 127, 0.692);
	display: grid;
	align-items: center;
	align-content: center;
	text-align: center;
}

/* MEDIA QUERYS */
	


@media screen and (max-width: 800px) {
	
	
	#menu-no-mobile{
		display:none;
	}

	#menu-mobile{
		display: unset;
	}
	.text {
	
	color: white;
	
	top: 50%;
	
	left: 10%;
	
	text-align: center;
}

}

@media screen and (max-width:750px) {
	

	header {
		
		position: fixed;
		
		z-index: 3;
		
		padding: 1%;
	}
	header label {
		
		background-color: #000000;
		
		display: block;
	}
	.menu ul {
		
		position: fixed;
		
		background-color: #000000ed;
		
		width: 11.2em;
		
		flex-direction: column;
		
		margin-left: -12.2em;
		
		z-index: 3;
		
		padding:0.8% 1% 81% 0%;
	}
	.menu li a {
		
		border-top: 0.062em solid white;
		
		text-decoration: none;
	}
	header h1 {
		
		display: none;
		
		transition: all 0.6s;
		
		padding: 10px;
	}
	#btn-menu:checked~.menu ul {
		margin-left: -10px;
	}
	.menu li {
		padding: 0em;
	}

	header #logo > .lih1{
		
		position: fixed;
		
		display: inline;
		
		justify-content: center;
		
		margin: -1px 45%;
	}
	.text {
	
	color: white;
	
	top: 40%;
	
	left: 15%;
	
	text-align: center;
	}

}

@media screen and (max-width: 500px) {

	.text {
	
	color: white;
	
	top: 25%;
	
	left: 5%;
	
	text-align: center;
	}


}


@media screen and ( min-width: 501px ){
	#info > section{
		width: 300px;
	}
}
@media screen and ( max-width: 500px ){
	#info > section{
		width: 100%;
	}
}
#info > section > h2{
	
	font-size: 1.2em;
	color: white;
	font-weight: normal;
}
#info div{
	display: flex;
	width: 130px;
	margin: 10px auto;
	justify-content: space-between;
}
#info svg{
	width: 25px;
	fill:white;
	transition: 0.4s all;
}
#info svg:hover{
	fill:#d1d1d1ed;
}


